img{
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

a{
    text-decoration: none;
    display: inline-block;
}
/* .............Navbar ................. */
/* .navbar-brand{
    margin-right: 700px;
} */
.navbar-expand-lg{
padding: 0;
}


.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    justify-content: end;
}

.navbar-brand img{
    width: 100%;
    height: 100px;
}

#video{
    margin-top: 40px;
    text-align: center;
    /* width: 400px;
    height: 320px; */
}

.lion-slide img{
    width: 400px;
    height: 300px;
}

.lion-slide{
    margin-top: 40px;
    position: relative;
}

.myArrow{
width: 30px;
height: 30px;
font-size: 20px;
/* color: blue; */
position: absolute;
z-index: 2;
border: 2px solid blue;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.myArrow:hover{
    background-color: black;
    color: green;
    transition: all linear .4s;
}

.pr{
    left: -50px;
    top:50%;
}
.nx{
    right: -20px;
    top: 50%; 
}



/* ---------------part 1 finished------------------ */
.lion-slide2 img{
    width: 400px;
    height: 300px;
    margin: auto;
}

.lion-slide2 ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* ----------------part 2 finished------------------- */
.cat-slide img{
    width: 400px;
    height: 300px;
}

.cat-slide ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.cat-slide button{
    border: none;
    padding: 0;
}

.slick-dots li button{
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

.slick-dots li button:hover{
    background-color: black;
}


.videoslide{
    text-align: center;

}

.slick-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}



.lion2slide img{
    width: 320px;
    height: 320px;
}
.lion2slide {
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.lion2slide ul{
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
